@model IEnumerable<Cuong_WebsiteTimPhongTro.Models.OrderDetail>
@using Cuong_WebsiteTimPhongTro.Models
@{
    ViewBag.Title = "DetailsOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-outer">
    <div class="center-inner">

        <div class="bubbles">
            <h1>Thông tin</h1>
        </div>

    </div>
</div>
@{
    var orderItem = (Orderpro)ViewBag.od;
}
<p>
    @*Order ID: @orderItem.OrderID
    <br />*@
    Ngày ghim: @orderItem.OrderDate.Value.ToString("dd/MM/yyyy")
    <br />
    Tên người ghim: @orderItem.Customer.CustomerName
    @*<br />
    Tên người quản lý: @orderItem.Staff.fullname*@
    <br />
    Status:
    @if (@orderItem.Status == 0)
    {
        <strong>Hợp lệ</strong>
    }
    @if (@orderItem.Status == 1)
    {
    <strong>Không hợp lệ</strong>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            <p>ID phòng trọ</p>
        </th>
        <th>
            <p>Tên Phòng</p>
        </th>
        <th>
            <p>Hình ảnh</p>
        </th>
        <th>
            <p>Giá thuê</p>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>*@
        @*<th>
            Price*Quantity
        </th>*@
    </tr>
    @{ int num = 1; double total = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @num @{ num++;}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <img src="~/Content/Images/@item.Product.Images" width="100px" />
            </td>
            <td>
                @{ var price = String.Format("{0:0,0 VND}", @item.Product.Price);}
                @price
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @{ var money = String.Format("{0:0,0 VND}", item.Product.Price * item.Quantity);}
                @{ total = total + (double)(item.Product.Price * item.Quantity);}
                @money
            </td>*@
        </tr>
    }

    @*<tr>
        <td colspan="7" align="right">
            @{ var sumtotal = String.Format("{0:0,0 VND}", total); }
            Total Money:@sumtotal
        </td>
    </tr>*@


</table>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>
