@model Cuong_WebsiteTimPhongTro.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center-outer">
    <div class="center-inner">

        <div class="bubbles">
            <h1>Thông tin phòng trọ</h1>
        </div>

    </div>
</div>
    <div class="detail_customer">
    </div>
    <div class="col-md-12">

        <div class="font_detail col-md-6">

            <dt>
                <p>Hình ảnh</p>
            </dt>

            <!--Bộ sưu tập slide-->
            <!-- Container for the image gallery -->
            <div class="container" >

                <!-- Full-width images with number text -->
                <div class="mySlides">
                    <div class="numbertext">1 / 4</div>
                    <img src="~/Content/Images/@Model.Images" width="500px" height="300px" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 4</div>
                    <img src="~/Content/Images/@Model.Images1" width="500px" height="300px" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 4</div>
                    <img src="~/Content/Images/@Model.Images2" width="500px" height="300px" />
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 4</div>
                    <img src="~/Content/Images/@Model.Images3" width="500px" height="300px" />
                </div>

                <br />

                <!-- Thumbnail images -->
                <div class="row" style="margin: 0 0 0 0">
                    <div class="column">
                        <img class="demo cursor" src="~/Content/Images/@Model.Images" width="190px" height="100px"
                             onclick="currentSlide(1)" >
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/Content/Images/@Model.Images1" width="190px" height="100px"
                             onclick="currentSlide(2)" >
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/Content/Images/@Model.Images2" width="190px" height="100px"
                             onclick="currentSlide(3)" >
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/Content/Images/@Model.Images3" width="190px" height="100px"
                             onclick="currentSlide(4)" >
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">

            <dl class="font_detail dl-horizontal">

                <dt>
                    <p>Tên:</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    <p>Số điện thoại:</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoDienThoai)
                </dd>

                <dt>
                    <p>Địa chỉ:</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    <p>Thời điểm đăng:</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfManufacture)
                </dd>

                <dt>
                    <p>Diện tích:</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DienTich)
                </dd>

                <dt>
                    <p>Giá:</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <div class="imgYeuThich">

                    <a href="~/Cart/AddItem?id=@Model.ProductID">
                        <img src='~/Content/Images/yeuthich.jpg' width="150px" />
                    </a>
                </div>


            </dl>
        </div>



    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <dt>
                <h2 class="detail_customer">Mô tả phòng trọ</h2>
            </dt>

            <dd class="font_detail">
                @*@Html.DisplayFor(model => model.Description)*@
                @Html.Raw(Model.Description)
            </dd>
        </div>
        <div class="col-md-6">
            <h2 class="detail_customer">Bản đồ</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5893807675784!2d106.63970541474404!3d10.766095562328367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e9747f2686b%3A0xd9b909a86e926ccb!2zxJDhuqdtIFNlbg!5e0!3m2!1svi!2sus!4v1636521683929!5m2!1svi!2sus"
                    width="550" height="550" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>

    <p>

        @Html.ActionLink("Quay lại", "Index")
    </p>
