@model Cuong_WebsiteTimPhongTro.Models.Feedback

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Create", "Feedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="center-outer">
    <div class="center-inner">

        <div class="bubbles">
            <h1>Tạo phản hồi</h1>
        </div>

    </div>
</div>

<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group col-md-12">
    <div class="col-md-2">
        <p class="EditAll">Ngày</p>
    </div>

    <div class="col-md-10">
        @Html.EditorFor(model => model.FeedbackDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
        @Html.ValidationMessageFor(model => model.FeedbackDate, "", new { @class = "text-danger" })
    </div>
</div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
        </div>
    </div>*@

<div class="form-group col-md-12">
    <div class="col-md-2">
        <p class="EditAll">Email</p>
    </div>

    <div class="col-md-10">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group col-md-12">
    <div class="col-md-2">
        <p class="EditAll">Số điện thoại</p>
    </div>

    <div class="col-md-10">
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group col-md-12">
    <div class="col-md-2">
        <p class="EditAll">Nội dung phản hồi</p>
    </div>

    <div class="col-md-10">
        @Html.TextAreaFor(model => model.FeedbackCustomer, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.FeedbackCustomer, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="form-group col-md-12">
        <div class="col-md-2">
            <p class="EditAll">Hình ảnh</p>
        </div>

        <div class="col-md-10">
            <input type="file" name="Images" />
            @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đăng tin" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    <script src="//cdn.ckeditor.com/4.16.1/full/ckeditor.js"></script>
}

